In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

ImportError: No module named matplotlib.pyplot

In [2]:
df = pd.read_csv('metro-bike-share-trip-data.csv')
df["Trip ID"].astype(int)
df["Duration"].astype(int)
df["Start Time"].astype(str)
df["End Time"].astype(str)
df["Starting Station ID"].astype(float)
df["Starting Station Latitude"].astype(float)
df["Starting Station Longitude"].astype(float)
df["Ending Station ID"].astype(float)
df["Ending Station Latitude"].astype(float)
df["Ending Station Longitude"].astype(float)
df["Bike ID"].astype(float)
df["Trip Route Category"].astype(str)
df["Passholder Type"].astype(str)
df["Starting Lat-Long"].astype(str)
df["Ending Lat-Long"].astype(str)

/Users/matttuazon/Desktop/C1MindSumo/project/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

0         {'longitude': '-118.23721', 'latitude': '34.05...
1         {'longitude': '-118.23721', 'latitude': '34.05...
2         {'longitude': '-118.24156', 'latitude': '34.05...
3         {'longitude': '-118.24156', 'latitude': '34.05...
4         {'longitude': '-118.25588', 'latitude': '34.04...
5         {'longitude': '-118.23649', 'latitude': '34.03...
6         {'longitude': '-118.23721', 'latitude': '34.05...
7         {'longitude': '-118.25905', 'latitude': '34.04...
8         {'longitude': '-118.25244', 'latitude': '34.04...
9         {'longitude': '-118.23894', 'latitude': '34.06...
10        {'longitude': '-118.2664', 'latitude': '34.039...
11        {'longitude': '-118.25905', 'latitude': '34.04...
12        {'longitude': '-118.24353', 'latitude': '34.05...
13        {'longitude': '-118.26014', 'latitude': '34.04...
14        {'longitude': '-118.24353', 'latitude': '34.05...
15        {'longitude': '-118.25384', 'latitude': '34.04...
16        {'longitude': '-118.2558', 'latitude': '34.040...
17        {'longitude': '-118.25459', 'latitude': '34.05...
18        {'longitude': '-118.24156', 'latitude': '34.05...
19        {'longitude': '-118.25283', 'latitude': '34.04...
20        {'longitude': '-118.25095', 'latitude': '34.05...
21        {'longitude': '-118.23721', 'latitude': '34.05...
22        {'longitude': '-118.26086', 'latitude': '34.03...
23        {'longitude': '-118.23721', 'latitude': '34.05...
24        {'longitude': '-118.2558', 'latitude': '34.040...
25        {'longitude': '-118.26456', 'latitude': '34.05...
26        {'longitude': '-118.23703', 'latitude': '34.04...
27        {'longitude': '-118.25095', 'latitude': '34.05...
28        {'longitude': '-118.24353', 'latitude': '34.05...
29        {'longitude': '-118.23128', 'latitude': '34.03...
                                ...
132397    {'longitude': '-118.259048', 'latitude': '34.0...
132398    {'longitude': '-118.23317', 'latitude': '34.03...
132399    {'longitude': '-118.264557', 'latitude': '34.0...
132400    {'longitude': '-118.23317', 'latitude': '34.03...
132401    {'longitude': '-118.248253', 'latitude': '34.0...
132402    {'longitude': '-118.237213', 'latitude': '34.0...
132403    {'longitude': '-118.233093', 'latitude': '34.0...
132404    {'longitude': '-118.263382', 'latitude': '34.0...
132405    {'longitude': '-118.268082', 'latitude': '34.0...
132406    {'longitude': '-118.233093', 'latitude': '34.0...
132407    {'longitude': '-118.270813', 'latitude': '34.0...
132408    {'longitude': '-118.237411', 'latitude': '34.0...
132409    {'longitude': '-118.237411', 'latitude': '34.0...
132410    {'longitude': '-118.235352', 'latitude': '34.0...
132411                                                  nan
132412    {'longitude': '-118.256981', 'latitude': '34.0...
132413    {'longitude': '-118.256981', 'latitude': '34.0...
132414    {'longitude': '-118.23616', 'latitude': '34.06...
132415    {'longitude': '-118.256668', 'latitude': '34.0...
132416    {'longitude': '-118.256668', 'latitude': '34.0...
132417    {'longitude': '-118.251579', 'latitude': '34.0...
132418    {'longitude': '-118.256187', 'latitude': '34.0...
132419    {'longitude': '-118.256187', 'latitude': '34.0...
132420    {'longitude': '-118.251579', 'latitude': '34.0...
132421    {'longitude': '-118.260948', 'latitude': '34.0...
132422    {'longitude': '-118.260948', 'latitude': '34.0...
132423    {'longitude': '-118.260948', 'latitude': '34.0...
132424    {'longitude': '-118.236488', 'latitude': '34.0...
132425    {'longitude': '-118.236488', 'latitude': '34.0...
132426    {'longitude': '-118.246422', 'latitude': '34.0...
Name: Ending Lat-Long, Length: 132427, dtype: object

In [3]:
df.head()

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,Bike ID,Plan Duration,Trip Route Category,Passholder Type,Starting Lat-Long,Ending Lat-Long
0,1912818,180,2016-07-07T04:17:00,2016-07-07T04:20:00,3014.0,34.056610,-118.23721,3014.0,34.056610,-118.23721,6281.0,30.0,Round Trip,Monthly Pass,"{'longitude': '-118.23721', 'latitude': '34.05...","{'longitude': '-118.23721', 'latitude': '34.05..."
1,1919661,1980,2016-07-07T06:00:00,2016-07-07T06:33:00,3014.0,34.056610,-118.23721,3014.0,34.056610,-118.23721,6281.0,30.0,Round Trip,Monthly Pass,"{'longitude': '-118.23721', 'latitude': '34.05...","{'longitude': '-118.23721', 'latitude': '34.05..."
2,1933383,300,2016-07-07T10:32:00,2016-07-07T10:37:00,3016.0,34.052898,-118.24156,3016.0,34.052898,-118.24156,5861.0,365.0,Round Trip,Flex Pass,"{'longitude': '-118.24156', 'latitude': '34.05...","{'longitude': '-118.24156', 'latitude': '34.05..."
3,1944197,10860,2016-07-07T10:37:00,2016-07-07T13:38:00,3016.0,34.052898,-118.24156,3016.0,34.052898,-118.24156,5861.0,365.0,Round Trip,Flex Pass,"{'longitude': '-118.24156', 'latitude': '34.05...","{'longitude': '-118.24156', 'latitude': '34.05..."
4,1940317,420,2016-07-07T12:51:00,2016-07-07T12:58:00,3032.0,34.049889,-118.25588,3032.0,34.049889,-118.25588,6674.0,0.0,Round Trip,Walk-up,"{'longitude': '-118.25588', 'latitude': '34.04...","{'longitude': '-118.25588', 'latitude': '34.04..."

In [4]:
df.tail()

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,Bike ID,Plan Duration,Trip Route Category,Passholder Type,Starting Lat-Long,Ending Lat-Long
132422,23660993,540,2017-03-31T23:43:00,2017-03-31T23:52:00,3055.0,34.044159,-118.251579,3035.0,34.048401,-118.260948,5978.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.260948', 'latitude': '34.0..."
132423,23660992,480,2017-03-31T23:44:00,2017-03-31T23:52:00,3055.0,34.044159,-118.251579,3035.0,34.048401,-118.260948,6478.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.260948', 'latitude': '34.0..."
132424,23660991,480,2017-03-31T23:44:00,2017-03-31T23:52:00,3082.0,34.046520,-118.237411,3054.0,34.039219,-118.236488,6183.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.236488', 'latitude': '34.0..."
132425,23660990,420,2017-03-31T23:45:00,2017-03-31T23:52:00,3082.0,34.046520,-118.237411,3054.0,34.039219,-118.236488,5900.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.236488', 'latitude': '34.0..."
132426,23664826,1260,2017-03-31T23:45:00,2017-04-01T00:06:00,3078.0,34.064281,-118.238937,3029.0,34.048851,-118.246422,6207.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.246422', 'latitude': '34.0..."

In [5]:

plt.hist(["Trip ID", "Duration"], color=['orange','green'])
plt.xlabel("Trip ID")
plt.ylabel("Duration")
plt.legend(legend)
plt.xticks(range(1912818, 23664826))
plt.yticks(range(0,3000))
plt.title('Duration for Bike Trip')
plt.show()

NameError: name 'plt' is not defined