In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline
df = pd.read_csv('metro-bike-share-trip-data.csv')

/Users/matttuazon/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#Replaces spaces with _ and get rid of parenthesis 
df.columns = df.columns.str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [4]:
df["Trip_ID"].astype(int)
df["Duration"].astype(int)
df["Start_Time"].astype(str)
df["End_Time"].astype(str)
df["Starting_Station_ID"].astype(float)
df["Starting_Station_Latitude"].astype(float)
df["Starting_Station_Longitude"].astype(float)
df["Ending_Station_ID"].astype(float)
df["Ending_Station_Latitude"].astype(float)
df["Ending_Station_Longitude"].astype(float)
df["Bike_ID"].astype(float)
df["Trip_Route_Category"].astype(str)
df["Passholder_Type"].astype(str)
df["Starting_Lat-Long"].astype(str)
df["Ending_Lat-Long"].astype(str)

0         {'longitude': '-118.23721', 'latitude': '34.05...
1         {'longitude': '-118.23721', 'latitude': '34.05...
2         {'longitude': '-118.24156', 'latitude': '34.05...
3         {'longitude': '-118.24156', 'latitude': '34.05...
4         {'longitude': '-118.25588', 'latitude': '34.04...
5         {'longitude': '-118.23649', 'latitude': '34.03...
6         {'longitude': '-118.23721', 'latitude': '34.05...
7         {'longitude': '-118.25905', 'latitude': '34.04...
8         {'longitude': '-118.25244', 'latitude': '34.04...
9         {'longitude': '-118.23894', 'latitude': '34.06...
10        {'longitude': '-118.2664', 'latitude': '34.039...
11        {'longitude': '-118.25905', 'latitude': '34.04...
12        {'longitude': '-118.24353', 'latitude': '34.05...
13        {'longitude': '-118.26014', 'latitude': '34.04...
14        {'longitude': '-118.24353', 'latitude': '34.05...
15        {'longitude': '-118.25384', 'latitude': '34.04...
16        {'longitude': '-118.2558', 'latitude': '34.040...
17        {'longitude': '-118.25459', 'latitude': '34.05...
18        {'longitude': '-118.24156', 'latitude': '34.05...
19        {'longitude': '-118.25283', 'latitude': '34.04...
20        {'longitude': '-118.25095', 'latitude': '34.05...
21        {'longitude': '-118.23721', 'latitude': '34.05...
22        {'longitude': '-118.26086', 'latitude': '34.03...
23        {'longitude': '-118.23721', 'latitude': '34.05...
24        {'longitude': '-118.2558', 'latitude': '34.040...
25        {'longitude': '-118.26456', 'latitude': '34.05...
26        {'longitude': '-118.23703', 'latitude': '34.04...
27        {'longitude': '-118.25095', 'latitude': '34.05...
28        {'longitude': '-118.24353', 'latitude': '34.05...
29        {'longitude': '-118.23128', 'latitude': '34.03...
                                ...
132397    {'longitude': '-118.259048', 'latitude': '34.0...
132398    {'longitude': '-118.23317', 'latitude': '34.03...
132399    {'longitude': '-118.264557', 'latitude': '34.0...
132400    {'longitude': '-118.23317', 'latitude': '34.03...
132401    {'longitude': '-118.248253', 'latitude': '34.0...
132402    {'longitude': '-118.237213', 'latitude': '34.0...
132403    {'longitude': '-118.233093', 'latitude': '34.0...
132404    {'longitude': '-118.263382', 'latitude': '34.0...
132405    {'longitude': '-118.268082', 'latitude': '34.0...
132406    {'longitude': '-118.233093', 'latitude': '34.0...
132407    {'longitude': '-118.270813', 'latitude': '34.0...
132408    {'longitude': '-118.237411', 'latitude': '34.0...
132409    {'longitude': '-118.237411', 'latitude': '34.0...
132410    {'longitude': '-118.235352', 'latitude': '34.0...
132411                                                  nan
132412    {'longitude': '-118.256981', 'latitude': '34.0...
132413    {'longitude': '-118.256981', 'latitude': '34.0...
132414    {'longitude': '-118.23616', 'latitude': '34.06...
132415    {'longitude': '-118.256668', 'latitude': '34.0...
132416    {'longitude': '-118.256668', 'latitude': '34.0...
132417    {'longitude': '-118.251579', 'latitude': '34.0...
132418    {'longitude': '-118.256187', 'latitude': '34.0...
132419    {'longitude': '-118.256187', 'latitude': '34.0...
132420    {'longitude': '-118.251579', 'latitude': '34.0...
132421    {'longitude': '-118.260948', 'latitude': '34.0...
132422    {'longitude': '-118.260948', 'latitude': '34.0...
132423    {'longitude': '-118.260948', 'latitude': '34.0...
132424    {'longitude': '-118.236488', 'latitude': '34.0...
132425    {'longitude': '-118.236488', 'latitude': '34.0...
132426    {'longitude': '-118.246422', 'latitude': '34.0...
Name: Ending_Lat-Long, Length: 132427, dtype: object

In [5]:
#Try figuring out based on time and day: when as well as starting station One-Way trips: where

#converts formatting of Start_Time/End_Time data to dateTime
df["Start_Time"] = pd.to_datetime(df['Start_Time'])
df["End_Time"] = pd.to_datetime(df['End_Time'])

In [16]:
def timeOfDay(datetime):
    if 3 <= datetime.time and datetime.time <= 9:
        return "Early Morning"
    elif 9 <= datetime.time and datetime.time<= 5:
        return "Work"
    elif 5 <= datetime.time and datetime.time < 10:
        return "Commute Home"
    elif 10 <= datetime.time or datetime.time < 3:
        return "Night Time"

Time_Of_Day = pd.Series(map(timeOfDay,df["Start_Time"]))
df["timeOfDay"] = times

TypeError: '<=' not supported between instances of 'int' and 'builtin_function_or_method'